<header>
  <!-- <div class="home d-flex align-items-center">
    <div class="homeContent ms-5 mb-5">
      <h1 class="text-white">LIVE YOUR</h1>
      <h1 class="text-secondary">ADVENTURE</h1>
      <P class="lead fw-bold text-white"
        >Don't wait until tomorrow , <br /><br />
        increase your business now
        <br />
      </P>
      <button class="btn btn-warning" routerLink="/CompanyProfile">
        Let's Start
      </button>
    </div>
  </div> -->

  <div class="container py-3">
    <div class="row">
      <div class="container">
        <img
          src="../../assets/shape-1.png"
          width="61"
          height="61"
          alt="Vector Shape"
          class="shape shape-1"
        />

        <img
          src="../../assets/shape-2.png"
          width="56"
          height="74"
          alt="Vector Shape"
          class="shape shape-2"
        />

        <img
          src="../../assets/shape-3.png"
          width="57"
          height="72"
          alt="Vector Shape"
          class="shape shape-3"
        />
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div class="homeContent">
          <p class="mb-4 text-white h5">Explore Your Travel</p>
          <p class="my-4 text-white h4">Trusted Travel Agency</p>
          <p class="lead my-4 text-white">
            Jobs fill your pockets, adventures fill your soul.
          </p>
          <button
            class="btn btn-outline-info mx-3 contactBtn text-white"
            routerLink="/signin"
          >
            Let's Start
          </button>
          <button class="btn btn-light learnBtn">Learn More</button>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <img src="../../assets/hero-banner.png" class="w-100" alt="" />
      </div>
    </div>
  </div>
</header>
<section id="destinations">
  <div class="destinationsContent text-center pt-5">
    <p class="text-warning fs-2">Destinations</p>
    <p class="fs-3 h1">Choose Your Place</p>
  </div>

  <div class="container">
    <div class="row my-4">
      <div class="col-md-6">
        <div class="item">
          <img
            src="../../assets/destination-1.jpg"
            class="w-100 rounded-3"
            alt=""
          />
          <div class="destinationLayer"></div>
          <div class="cardContent">
            <p class="text-warning h2 fw-bolder fs-3">Sharm El Sheikh</p>
            <!-- <p class="fw-bolder fs-2 text-white h2">Egypt</p> -->
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="item">
          <img
            src="../../assets/destination-2.jpg"
            class="w-100 rounded-3"
            alt=""
          />
          <div class="destinationLayer"></div>
          <div class="cardContent">
            <p class="text-warning h2 fw-bolder fs-3">Hurghada</p>
            <!-- <p class="fw-bolder fs-2 text-white h2">Thailand</p> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="item">
          <img
            src="../../assets/destination-3.jpg"
            class="w-100 rounded-3"
            alt=""
          />
          <div class="destinationLayer"></div>
          <div class="cardContent">
            <p class="text-warning h2 fw-bolder fs-5">Siwa</p>
            <!-- <p class="fw-bolder fs-4 text-white h2">Malaysia</p> -->
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item">
          <img
            src="../../assets/destination-4.jpg"
            class="w-100 rounded-3"
            alt=""
          />
          <div class="destinationLayer"></div>
          <div class="cardContent">
            <p class="text-warning h2 fw-bolder fs-5">Dahab</p>
            <!-- <p class="fw-bolder fs-4 text-white h2">Nepal</p> -->
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item">
          <img
            src="../../assets/destination-5.jpg"
            class="w-100 rounded-3"
            alt=""
          />
          <div class="destinationLayer"></div>
          <div class="cardContent">
            <p class="text-warning h2 fw-bolder fs-5">Alexandria</p>
            <!-- <p class="fw-bolder fs-4 text-white h2">Indonesia</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="popular">
  <div class="popularContent text-center pt-5">
    <p class="text-warning fs-2">Featured Tours</p>
    <p class="fs-3 h1">Most Popular Tours</p>
  </div>
  <div class="container">
    <div class="row my-4">
      <div class="col-md-4">
        <div class="item bg-white shadow-lg">
          <img src="../../assets/popular-1.jpg" class="w-100" alt="" />
          <div class="popularContent p-3">
            <div class="badgeContent d-flex">
              <span class="badge bg-info text-white mx-3 py-2"
                >From $50.00
              </span>
              <span class="badge bg-warning text-dark py-2">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </span>
            </div>
            <p class="pt-3">
              Aswan is a serene Nile Valley destination where the Nile is more
              majestic than anywhere else, flowing through granite rocks, and
              tropical plants.
            </p>
            <p class="text-muted">Aswan, Egypt</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item bg-white shadow-lg">
          <img src="../../assets/popular-2.jpg" class="w-100" alt="" />
          <div class="popularContent p-3">
            <div class="badgeContent d-flex">
              <span class="badge bg-info text-white mx-3 py-2"
                >From $50.00
              </span>
              <span class="badge bg-warning text-dark py-2">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </span>
            </div>
            <p class="pt-3">
              A stounding reefs to explore, amazing kite and wind surfing
              conditions, never-ending beaches of black and gold sand dunes, a
              cultural day trip to Mons Claudianus.
            </p>
            <p class="text-muted">Safaga, Egypt</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item bg-white shadow-lg">
          <img src="../../assets/popular-3.jpg" class="w-100" alt="" />
          <div class="popularContent p-3">
            <div class="badgeContent d-flex">
              <span class="badge bg-info text-white mx-3 py-2"
                >From $50.00
              </span>
              <span class="badge bg-warning text-dark py-2">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </span>
            </div>
            <p class="pt-3">
              A great Red Sea destination for diving enthusiasts. Nestled
              between sea and desert, the town offers all kinds of
              accommodations.
            </p>
            <p class="text-muted">Marsa Alam, Egypt</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="about">
  <div class="container py-5">
    <div class="row bg-white p-3">
      <div class="col-md-6 d-flex align-items-center">
        <div class="item">
          <p class="text-warning fs-3 my-4">About Us</p>
          <p class="fs-3 mb-4 fw-bold h3">
            Explore all tour of the <br />
            world with us.
          </p>
          <p class="lead mb-4 text-muted">
            We does not charge any service fees to users of our site, You can
            See all tours and book any of them for free.
          </p>
          <!-- <div class="itemContent d-flex">
            <div
              class="aboutIcon my-auto mx-2 p-3 bg-info text-white rounded-circle"
            >
              <i class="fa-regular fa-compass text-white"></i>
            </div>
            <div class="aboutContent">
              <p class="h5">Traveller</p>
              <p class="">Live Your Adventure</p>
            </div>
          </div>
          <div class="itemContent d-flex">
            <div
              class="aboutIcon my-auto mx-2 p-3 bg-info text-white rounded-circle"
            >
              <i class="fa-solid fa-suitcase text-white"></i>
            </div>
            <div class="aboutContent">
              <p class="h5">Company</p>
              <p class="">
                Don't wait until tomorrow , increase your business now
              </p>
            </div>
          </div> -->

          <button class="btn btn-warning my-3" routerLink="/signin">
            Book Now
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="item">
          <img src="../../assets/about-banner.png" class="w-100" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section id="blog">
  <div class="blogContent text-center py-5">
    <p class="text-warning fs-2">From The Blog Post</p>
    <h1 class="fs-3">Latest News & Articles</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="item bg-white shadow-lg">
          <img src="../../assets/popular-1.jpg" class="w-100" alt="" />
          <div class="blogItem p-3">
            <div class="itemContent py-2 pt-3">
              <div
                class="blogHeader d-flex justify-content-between align-items-center"
              >
                <div class="blogProfile d-flex">
                  <img
                    src="../../assets/author-avatar.png"
                    class="w-25 rounded-circle me-2"
                    alt=""
                  />
                  <div class="profileContent">
                    <p>Jony bristow</p>
                    <p class="text-muted">Admin</p>
                  </div>
                </div>
                <div class="blogDate">
                  <span class="text-muted">10:30 AM </span>
                </div>
              </div>
            </div>
            <p class="lead py-2 blogParagraph">
              A good traveler has no fixed plans and is not intent on arriving.
            </p>
            <p class="text-end text-info">
              Read More
              <i class="fa-sharp fa-solid fa-arrow-right text-info"></i>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item bg-white shadow-lg">
          <img src="../../assets/blog-2.jpg" class="w-100" alt="" />
          <div class="blogItem p-3">
            <div class="itemContent py-2 pt-3">
              <div
                class="blogHeader d-flex justify-content-between align-items-center"
              >
                <div class="blogProfile d-flex">
                  <img
                    src="../../assets/author-avatar.png"
                    class="w-25 rounded-circle me-2"
                    alt=""
                  />
                  <div class="profileContent">
                    <p>Jony bristow</p>
                    <p class="text-muted">Admin</p>
                  </div>
                </div>
                <div class="blogDate">
                  <span class="text-muted">10:30 AM </span>
                </div>
              </div>
            </div>
            <p class="lead py-2 blogParagraph">
              A good traveler has no fixed plans and is not intent on arriving.
            </p>
            <p class="text-end text-info">
              Read More
              <i class="fa-sharp fa-solid fa-arrow-right text-info"></i>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item bg-white shadow-lg">
          <img src="../../assets/blog-3.jpg" class="w-100" alt="" />
          <div class="blogItem p-3">
            <div class="itemContent py-2 pt-3">
              <div
                class="blogHeader d-flex justify-content-between align-items-center"
              >
                <div class="blogProfile d-flex">
                  <img
                    src="../../assets/author-avatar.png"
                    class="w-25 rounded-circle me-2"
                    alt=""
                  />
                  <div class="profileContent">
                    <p>Jony bristow</p>
                    <p class="text-muted">Admin</p>
                  </div>
                </div>
                <div class="blogDate">
                  <span class="text-muted">10:30 AM </span>
                </div>
              </div>
            </div>
            <p class="lead py-2 blogParagraph">
              A good traveler has no fixed plans and is not intent on arriving.
            </p>
            <p class="text-end text-info">
              Read More
              <i class="fa-sharp fa-solid fa-arrow-right text-info"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <section id="services">
  <div class="services py-5">
    <h1 class="text-center py-2">Our Services</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="servicesItem">
            <h5 class="fw-bold">Travel Abroad Egypt</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Architecto, voluptates.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="servicesItem">
            <h5 class="fw-bold">Travel Inside Egypt</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Architecto, voluptates.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="servicesItem">
            <h5 class="fw-bold">Travel Agency</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Architecto, voluptates.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="servicesItem">
            <h5 class="fw-bold">Travel Company</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Architecto, voluptates.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section id="slider " class="mb-4 text-center">
  <div class="container">
    <p class="text-center py-4 h3">These are top destinations</p>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <img src="../../assets/fayoum.jpg" class="w-100 mb-3" />
        <p>Hotels in Fayoum</p>
        <span class="text-warning">505 Hotels Avg.$28</span>
      </ng-template>
      <ng-template carouselSlide>
        <img src="../../assets/cairo-egypt.jpg" class="w-100 mb-3" />
        <p>Hotels in Cairo</p>
        <span class="text-warning">900 Hotels Avg.$35</span>
      </ng-template>
      <ng-template carouselSlide>
        <img src="../../assets/Giza.jpeg" class="w-100 mb-3" />
        <p>Hotels in Giza</p>
        <span class="text-warning">400 Hotels Avg.$25</span>
      </ng-template>
      <ng-template carouselSlide>
        <img src="../../assets/3911806969.webp" class="w-100 mb-3" />
        <p>Hotels in Sharm El Sheikh</p>
        <span class="text-warning">1,505 Hotels Avg.$32</span>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>
