<header>
  <div class="home d-flex align-items-center">
    <div class="homeContent ms-5 mb-5">
      <h1 class="text-white">LIVE YOUR</h1>
      <h1 class="text-secondary">ADVENTURE</h1>
      <P class="lead fw-bold text-white"
        >Don't wait until tomorrow , <br /><br />
        explore our services now
        <br />
      </P>
      <button class="btn btn-warning" routerLink="/CompanyProfile">
        Let's Start
      </button>
    </div>
  </div>
</header>
<section id="pay">
  <div class="pay py-5">
    <h1 class="mb-4 text-center py-2 text-white">
      Now please choose the length of your plan
    </h1>
    <div class="payCards d-flex justify-content-around">
      <div class="card p-3" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">30 Day For Free</h5>
          <p class="card-text">You Can Subscripe for 1,2 year.</p>
          <a class="btn btn-warning">Subscripe</a>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">1-year subscription</h5>
          <div class="payDetails">
            <p class="card-text">Billed as $35.88 / 1 year.</p>
            <span>$2.99 /month</span>
          </div>
          <a class="btn btn-warning mt-2">Subscripe</a>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">2-year subscription</h5>
          <div class="payDetails">
            <p class="card-text">Billed as $69.36 / 2 years.</p>
            <span>$2.89 /month</span>
          </div>
          <a class="btn btn-warning mt-2">Subscripe</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="services">
  <div class="services py-5">
    <h1 class="text-center py-2 text-white">Our Services</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="servicesItem">
            <h5 class="fw-bold">Travel Abroad Egypt</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Architecto, voluptates.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="servicesItem">
            <h5 class="fw-bold">Travel Inside Egypt</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Architecto, voluptates.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="servicesItem">
            <h5 class="fw-bold">Travel Agency</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Architecto, voluptates.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="servicesItem">
            <h5 class="fw-bold">Travel Company</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Architecto, voluptates.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="statastic">
  <div class="statastic py-5">
    <div class="layer d-flex align-items-center justify-content-center">
      <div class="container">
        <div class="row">
          <div class="col-md-3 text-white text-center">
            <div
              class="iconBrdr mb-2 m-auto brdr d-flex justify-content-center align-items-center"
            >
              <i class="fa-solid fa-check"></i>
            </div>

            <span>450</span>
            <p>WORKS COMPLETED</p>
          </div>
          <div class="col-md-3 text-white text-center">
            <div
              class="iconBrdr mb-2 m-auto brdr d-flex justify-content-center align-items-center"
            >
              <i class="fa-solid fa-newspaper"></i>
            </div>

            <span> 25 </span>
            <p>YEARS OF EXPERIENCE</p>
          </div>
          <div class="col-md-3 text-white text-center">
            <div
              class="iconBrdr mb-2 m-auto brdr d-flex justify-content-center align-items-center"
            >
              <i class="fa-solid fa-user-group"></i>
            </div>
            <span> 550 </span>
            <p>TOTAL CLIENTS</p>
          </div>
          <div class="col-md-3 text-white text-center">
            <div
              class="iconBrdr mb-2 m-auto brdr d-flex justify-content-center align-items-center"
            >
              <i class="fa-solid fa-award"></i>
            </div>

            <span> 48 </span>
            <p>AWARD WON</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="portfolio">
  <div class="portfolio py-5">
    <h1 class="text-center py-2 text-white">Our Portfolio</h1>
    <div class="container">
      <div class="row g-3">
        <div class="col-md-4">
          <div class="item bg-white shadow h-100">
            <img src="../../assets/Aswan.jfif" class="w-100" alt="" />
            <div
              class="image-content d-flex justify-content-between align-items-center p-4"
            >
              <div class="content-img-para">
                <h2 class="">Lorem impsum dolor</h2>
                <p class="web">Web Design / 18 Sep. 2018</p>
              </div>

              <i class="fa-solid fa-plus py-4"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="item bg-white shadow h-100">
            <img src="../../assets/tour2.jfif" class="w-100 mt-2" alt="" />
            <div
              class="image-content d-flex justify-content-between align-items-center p-4"
            >
              <div class="content-img-para">
                <h2 class="">Lorem impsum dolor</h2>
                <p class="web">Web Design / 18 Sep. 2018</p>
              </div>

              <i class="fa-solid fa-plus py-4"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="item bg-white shadow h-100">
            <img src="../../assets/tour3.jpg" class="w-100" alt="" />
            <div
              class="image-content d-flex justify-content-between align-items-center p-4"
            >
              <div class="content-img-para">
                <h2 class="">Lorem impsum dolor</h2>
                <p class="web">Web Design / 18 Sep. 2018</p>
              </div>

              <i class="fa-solid fa-plus py-4"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="item bg-white shadow">
            <img src="../../assets/tour4.jfif" class="w-100" alt="" />
            <div
              class="image-content d-flex justify-content-between align-items-center p-4"
            >
              <div class="content-img-para">
                <h2 class="">Lorem impsum dolor</h2>
                <p class="web">Web Design / 18 Sep. 2018</p>
              </div>

              <i class="fa-solid fa-plus py-4"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="item bg-white shadow h-100">
            <img src="../../assets/tour5.jpg" class="w-100" alt="" />
            <div
              class="image-content d-flex justify-content-between align-items-center p-4"
            >
              <div class="content-img-para">
                <h2 class="mt-3">Lorem impsum dolor</h2>
                <p class="web">Web Design / 18 Sep. 2018</p>
              </div>

              <i class="fa-solid fa-plus py-4"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="item bg-white shadow h-100">
            <img src="../../assets/tour6.jfif" class="w-100" alt="" />
            <div
              class="image-content d-flex justify-content-between align-items-center p-4"
            >
              <div class="content-img-para">
                <h2 class="">Lorem impsum dolor</h2>
                <p class="web">Web Design / 18 Sep. 2018</p>
              </div>

              <i class="fa-solid fa-plus py-4"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="slider">
  <div class="container">
    <h2 class="text-white text-center py-5">
      These top destinations are just a click away
    </h2>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <img src="../../assets/istnbul.jpeg" class="w-100" />
        <h3 class="text-white">Hotels in Istanbul</h3>
        <span class="text-warning">1,505 Hotels Avg.$288</span>
      </ng-template>
      <ng-template carouselSlide>
        <img src="../../assets/dubai.jpeg" class="w-100" />
        <h3 class="text-white">Hotels in Dubai</h3>
        <span class="text-warning">1,505 Hotels Avg.$288</span>
      </ng-template>
      <ng-template carouselSlide>
        <img src="../../assets/Giza.jpeg" class="w-100" />
        <h3 class="text-white">Hotels in Giza</h3>
        <span class="text-warning">1,505 Hotels Avg.$288</span>
      </ng-template>
      <ng-template carouselSlide>
        <img src="../../assets/Makkah.jpeg" class="w-100" />
        <h3 class="text-white">Hotels in Makkah</h3>
        <span class="text-warning">1,505 Hotels Avg.$288</span>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>
<section class="blog mt-5 text-center" id="blog">
  <h3 class="text-white">BLOG</h3>
  <p class="text-white">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
  </p>
  <div class="blog-border"></div>
  <div class="container">
    <div class="row mt-5 g-3">
      <div class="col-md-4">
        <div class="blog-image">
          <img src="../../assets/post-1.jpg" alt="" />
        </div>
        <div class="blog-content bg-white shadow">
          <a>See more ideas about Travel</a>
          <p>
            Proin eget tortor risus. Pellentesque in ipsum id orci porta
            dapibus. Praesent sapien massa, convallis a pellentesque nec,
            egestas non nisi.
          </p>
          <div
            class="blog-info d-flex justify-content-between align-items-center mt-0"
          >
            <div class="morgan-info w-50">
              <img src="../../assets/testimonial-2.jpg" alt="" />
              <a>Morgan Freeman</a>
            </div>
            <div class="blog-time d-flex">
              <i class="fa-solid fa-clock my-auto"></i>
              <p class="my-auto">10 min</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-image">
          <img src="../../assets/post-2.jpg" alt="" />
        </div>
        <div class="blog-content bg-white shadow">
          <a>See more ideas about Travel</a>
          <p>
            Proin eget tortor risus. Pellentesque in ipsum id orci porta
            dapibus. Praesent sapien massa, convallis a pellentesque nec,
            egestas non nisi.
          </p>
          <div
            class="blog-info d-flex justify-content-between align-items-center mt-0"
          >
            <div class="morgan-info w-50">
              <img src="../../assets/testimonial-2.jpg" alt="" />
              <a>Morgan Freeman</a>
            </div>
            <div class="blog-time d-flex">
              <i class="fa-solid fa-clock my-auto"></i>
              <p class="my-auto">10 min</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-image">
          <img src="../../assets/post-3.jpg" alt="" />
        </div>

        <div class="blog-content bg-white shadow">
          <a>See more ideas about Travel</a>
          <p>
            Proin eget tortor risus. Pellentesque in ipsum id orci porta
            dapibus. Praesent sapien massa, convallis a pellentesque nec,
            egestas non nisi.
          </p>
          <div
            class="blog-info d-flex justify-content-between align-items-center mt-0"
          >
            <div class="morgan-info w-50">
              <img src="../../assets/testimonial-2.jpg" alt="" />
              <a>Morgan Freeman</a>
            </div>
            <div class="blog-time d-flex">
              <i class="fa-solid fa-clock my-auto"></i>
              <p class="my-auto">10 min</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contact mt-5" id="contact">
  <h3 class="text-white text-center py-4">Contacts</h3>
  <div class="contact-layer d-flex justify-content-center align-items-center">
    <div class="container bg-white shadow p-5">
      <div class="row">
        <div class="col-md-6">
          <h5>Send Message Us</h5>
          <form>
            <input
              type="text"
              class="form-control mb-2"
              placeholder="Your Name"
            />
            <input
              type="email"
              class="form-control mb-2"
              placeholder="Your Email"
            />
            <input
              type="text"
              class="form-control mb-2"
              placeholder="Your Subject"
            />
            <textarea
              name=""
              id=""
              rows="5"
              class="w-100 mb-2 form-control"
              placeholder="Message"
            ></textarea>
            <div class="contact-btn d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-primary btn-lg">
                Send Message
              </button>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <h5>Get in Touch</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
            dolorum dolorem soluta quidem expedita aperiam aliquid at. Totam
            magni ipsum suscipit amet? Autem nemo esse laboriosam ratione nobis
            mollitia inventore?
          </p>
          <div class="contact-info d-flex align-items-center">
            <i class="fa-solid fa-location-dot icon p-1"></i>

            <p class="my-2">329 WASHINGTON ST BOSTON, MA 02108</p>
          </div>
          <div class="contact-info d-flex align-items-center">
            <i class="fa-solid fa-mobile-screen icon p-1"></i>
            <p class="my-2">(617) 557-0089</p>
          </div>
          <div class="contact-info d-flex align-items-center">
            <i class="fa-solid fa-envelope icon p-1"></i>
            <p class="my-2">contact@example.com</p>
          </div>
          <div class="contact-icons fs-5">
            <i class="fa-brands fa-facebook me-4"></i>
            <i class="fa-brands fa-instagram me-4"></i>
            <i class="fa-brands fa-twitter me-4"></i>
            <i class="fa-brands fa-linkedin me-4"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="footer text-center bg-opacity-50 p-4 shadow">
  <p class="text-white">
    © Copyright <strong class="text-white">Trivago</strong> . All Rights
    Reserved
  </p>
  <a>Designed by TrivagoTeam</a>
</section>
