 .homeContent{
  margin-left: 10;
      padding-top: 100px;
  }
  h5{
    color: white;
    font-size: 50px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
  }
  .changecontent::after{
    content: ' ';
    color: #ffa500;
    text-shadow: 0px 1px 1px black;
    animation: changetext 15s infinite linear;
  }
  @keyframes changetext{
    0%{content: "Aswan";}
    10%{content: "Siwa";}
    20%{content: "Dahab";}
    30%{content: "Hurghada";}
    40%{content: "Sharm El Sheikh";}
    50%{content: "Marsa Alam";}
    60%{content: "Luxor";}
    70%{content: "Fayoum";}
    80%{content: "Safaga";}
    90%{content: "Alexandria";}
    100%{content: "Giza";}
  } 
  /* h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  .card:hover .overlay {
    opacity: 1.5;
  }
 
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(121, 120, 120, 0.486);
  }
  .text {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  } */
#popular .item img:hover {
  /* transform: scale(1.1); */
  opacity: 0.8;
}

#popular .item {
  overflow: hidden;
  cursor: pointer;
}

#popular img {
  transition: all 0.5s;
}
header {
  background-image: url(../../assets/bg.jpg);
  background-size: 100% 100%;
  background-position: center center;
}

.overcolor {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.favv:hover{
  color: red;
}