<nav
  class="navbar navbar-expand-lg fixed-top navbar-dark width"
  style="background-color: rgba(170, 169, 169, 0.253)"
>
  <div class="container-fluid">
    <!-- <a class="navbar-brand"><img src="../../assets/logo-dark(1).webp" /></a> -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center">
        <li class="nav-item">
          <div class="d-flex align-items-center">
            <a routerLink="/company-info"
              ><img
                src="../../assets/logo2.jpeg"
                class="rounded-circle"
                style="width: 40px; height: 35px"
                alt=""
              />
            </a>
            <a class="nav-link navbar-brand fw-bolder" routerLink="/LandingPage"
              >Travelia</a
            >
          </div>
        </li>
        <li class="nav-item">
          <a
            *ngIf="UserisLogin"
            class="nav-link"
            routerLink="UserHome"
            routerLinkActive="active"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            *ngIf="UserisLogin"
            class="nav-link"
            routerLink="cart"
            routerLinkActive="active"
          >
            <i class="fa-solid fa-cart-plus"></i> Cart</a
          >
        </li>
        <li class="nav-item d-flex align-items-center">
          <a
            *ngIf="UserisLogin"
            class="nav-link"
            routerLink="favorite"
            routerLinkActive="active"
            ><i class="fa-solid fa-heart"></i> Favourite
          </a>
        </li>
        <li class="nav-item">
          <a
            *ngIf="CompanyisLogin"
            class="nav-link"
            routerLink="CompanyProfile"
            routerLinkActive="active"
            >CompanyProfile</a
          >
        </li>
      </ul>

      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item d-flex align-items-center">
          <span>
            <i class="fa-brands fa-facebook m-2"></i>
            <i class="fa-brands fa-twitter m-2"></i>
            <i class="fa-brands fa-instagram m-2"></i>
          </span>
        </li>
        <li class="nav-item">
          <a
            *ngIf="!UserisLogin && !CompanyisLogin"
            class="nav-link"
            routerLink="signin"
            routerLinkActive="active"
            >Sign in</a
          >
        </li>
        <li class="nav-item">
          <a
            *ngIf="!UserisLogin && !CompanyisLogin"
            class="nav-link"
            routerLink="signup"
            routerLinkActive="active"
            >Sign up</a
          >
        </li>
        <li class="nav-item">
          <a
            *ngIf="UserisLogin || CompanyisLogin"
            class="nav-link"
            routerLink="register"
            routerLinkActive="active"
            (click)="signOut()"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
