.vl {
    border-left: 6px dotted #ffc107;
    height:50px;
    position: absolute;
    left: 6.2%;
    margin-top: -2%;    
}
.newvl {
    border-left: 6px dotted #ffc107;
    height: 55px;
    position: absolute;
    left: 6.2%;
    margin-top: 50px;
}
#map {
    position: absolute;
    top: 125vh;
    right: 9%;
    width: 40%;
    bottom: -90vh;
}