<section class="package" id="package">
  <div class="container py-5">
    <div class="row d-flex mt-4">
      <div *ngFor="let item of arr">
        <ul class="package-list">
          <div>
            <div class="package-card row d-flex">
              <figure class="card-banner col-md-4">
                <img [src]="item.photo[0]" class="rounded" />
              </figure>

              <div class="card-content col-md-4">
                <p class="h3 card-title">{{ item.title }}</p>

                <p class="card-text">
                  {{ item.desc }}
                </p>
              </div>

              <div class="card-price col-md-4 mt-2">
                <p class="price">
                  {{ item.price }}
                  <span>$</span>
                </p>

                <button
                  (click)="deleteFromFavorite(item._id)"
                  class="btn btn-outline-info mt-5"
                >
                  Remove From Favourite
                </button>
              </div>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</section>
