<!-- <div class="container py-5">
  <div class="row g-3 text-center">
    <div *ngFor="let item of arr" class="col-md-4 px-2">
      <div class="cartContent text-center p-5 bg-secondary shadow">
        <h2>desc:{{ item.desc }}</h2>
        <h2>title:{{ item.title }}</h2>
        <p>price:{{ item.price }}</p>
        <button (click)="deleteFromCart(item._id)" class="btn btn-danger">
          Remove From Cart
        </button>
      </div>
    </div>
  </div>
</div> -->

<div class="container pt-3">
  <div class="row mt-5">
    <ul class="col-md-9 me-3">
      <li *ngFor="let cartItem of arr">
        <div>
          <!-- <img [src]="cartItem.photo[0]" [alt]="cartItem.title" /> -->
        </div>
        <div>
          <a routerLink="['/review', cartItem._id]">
            {{ cartItem.title }}
          </a>
        </div>
        <div>
          <select
            #quantitySelect
            [value]="cartItem.totalQuantity"
            (change)="changeQuantity(cartItem, quantitySelect.value)"
          >
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div>
          {{ cartItem.totalPrice | currency }}
        </div>
        <div>Available Seats: {{ cartItem.availableSeats }}</div>
        <div>
          <button
            class="remove-button"
            (click)="
              deleteFromCart(
                cartItem._id,
                cartItem.totalQuantity,
                cartItem.price,
                cartItem.availableSeats
              )
            "
          >
            Remove
          </button>
        </div>
      </li>
    </ul>
    <div class="checkout col-md-3">
      <div>
        <div class="trips-count">{{ totalQuantity }}</div>
        <div class="total-price">{{ totalPrice | currency }}</div>
      </div>

      <a (click)="makePayment(totalPrice)">Proceed to Checkout</a>
    </div>
  </div>
</div>
